<div class="jumbotron">
       <div class="container">
         <div class="row-fluid">
           <div class="col-lg-12 centered">
             <%= form_tag({ :action => 'signin' }, :method=> :get , :class=>"form-signin" ) do %>
                 <%= link_to image_tag("form_log_logo.png"),{ :controller => "home", :action => 'index'}, {:class => ""}  %><br><br>
                 <p>log in with your reo photo&trade; account</p>
                 <p>email</p>
                 <%=text_field_tag :email, '', :class=>"form-control" %><br>
                 <p>password<%= link_to("I forgot",nil, :class=>"pull-right login-link" )%></p>
                 <%=password_field_tag :password, '', :class => "form-control" %>
                 <%=submit_tag "log in",  :class=> "btn btn-login" %>
             <% end %>
             <p class="font8 form-signin">&copy;2013, Mobile Business Concepts. all rights reserved. info@moblbc | 678 973 2288</p>
           </div>
         </div> <!--end row fluid-->
       </div><!--end container-->
     </div>  <!--end jumbotron-->